$colors: (
  primary: #45a29e,
  primary-light: #664499,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

/*px's are for monkeys, rem or relative units, 1rem=10px, vw= viewport width, VH= viewport height*/
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.header {
  height: 100vh;
}
